<div class="container">
    <img [src]="menuImage" alt="logo" class="image-logo">
    <span class="material-symbols-outlined" (click)="openMenu()">
        menu
    </span>
    <span class="material-symbols-outlined" (click)="openMenu()">
        search
    </span>
    <span class="material-symbols-outlined" (click)="openMenu()">
        star
    </span>
    <span class="material-symbols-outlined" (click)="openMenu()">
        sms
    </span>
    <span class="material-symbols-outlined" (click)="openMenu()">
        tune
    </span>
    <span class="material-symbols-outlined" (click)="openMenu()">
        home
    </span>
</div>