<div class="show-information-container">
    <div class="infromation-section">
        <div class="card-header">
            <p class="title">Situação Cadastral do CPF</p>
            <p class="subtitle">Consulta na Receita Federal</p>
        </div>
        <div class="card-body">
            <div class="section-card-container">
                <span class="material-symbols-outlined">
                    person
                </span>
                <div class="info">
                    <p class="subtitle">Nome</p>
                    <p class="text-info">name</p>
                </div>
            </div>
            <div class="section-card-container">
                <span class="material-symbols-outlined check">
                    check_circle
                </span>
                <div class="info">
                    <p class="subtitle">Situação do CPF</p>
                    <p class="text-info">situation</p>
                </div>
            </div>
        </div>
    </div>
    <div class="infromation-section">
        <div class="card-header">
            <p class="title">Conta aplicação</p>
            <p class="subtitle">Cooperativa Viacredi</p>
        </div>
        <div class="card-body">
            <div class="section-card-container">
                <span class="material-symbols-outlined">
                    credit_card
                </span>
                <div class="info">
                    <p class="subtitle">Número da conta</p>
                    <p class="text-info">applicationAccount</p>
                </div>
            </div>
            <div class="section-card-container">
                <span class="redirect-link">Duplicar conta</span>
            </div>
        </div>
    </div>
    <div class="infromation-section">
        <div class="card-header">
            <p class="title">Conta corrente</p>
            <p class="subtitle">Cooperativa Viacredi</p>
        </div>
        <div class="card-body">
            <div class="section-card-container">
                <span class="material-symbols-outlined">
                    credit_card
                </span>
                <div class="info">
                    <p class="subtitle">Número da conta</p>
                    <p class="text-info">checkingAccount</p>
                </div>
            </div>
            <div class="section-card-container">
                <span class="redirect-link">Duplicar conta</span>
            </div>
        </div>
    </div>
</div>