.container {
    width: var(--menuSize);
    height: 1024px;
    background-color: #165C7D;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: var(--alignItens);
    overflow-x: hidden;
    transition: all 0.6s;
}

.image-logo {
    margin-top: 19px;   
    width: auto;
    height: 60px;
    padding: var(--paddingMenuItens);
}

.material-symbols-outlined {
    width: 25px;
    height: 25px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    padding: var(--paddingMenuItens);
}

.material-symbols-outlined:hover {
    background-color: #013F5C;
    padding: 10px 100% 10px 100%;
}