<div class="container">
    <img src="assets/images/simbolo-negativo 6.png" alt="logo" class="image-logo">
    <span class="material-symbols-outlined">
        menu
    </span>
    <span class="material-symbols-outlined">
        search
    </span>
    <span class="material-symbols-outlined">
        home
    </span>
    <span class="material-symbols-outlined">
        star
    </span>
    <span class="material-symbols-outlined">
        sms
    </span>
    <span class="material-symbols-outlined">
        tune
    </span>
</div>