.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 15px 10px 14px;
}

.container .title {
    font-family: Exo2Bold;
    font-size: 24px;
    color: #101213;
    width: 501px;
    padding: 0;
    margin: 0;
}

.container .subtitle {
    font-family: OpenSansRegular;
    font-size: 12px;
    color: #787878;
    width: 489px;
    padding: 0;
    margin: 0;
}


.icon-notifications {
    color: #125D79;
    margin-right: 15px;
}

.icon-profile {
    color: #125D79;
    margin-left: 15px;
}

.header-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: right;
}