<div class="container">
    <div class="row">
        <div class="textHedaer column">
            <p class="title">NOVA ADMISSÃO COOPERADO</p>
            <p class="subtitle">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
        </div>
        <div class="actionsHeader row">
            <div class="container">
                <span class="material-icons md-18">notifications</span>
                <app-button-simple [text]="'COOPERATIVA'"></app-button-simple>
                <span class="profile-photo">FOTO DE PERFIL</span>
            </div>
        </div>
    </div>
</div>