<div class="container">
    <div>
        <p class="title">NOVA ADMISSÃO COOPERADO</p>
        <p class="subtitle">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
    </div>
    
    <div class="header-actions">
        <span class="material-symbols-outlined icon-notifications">
            notifications
        </span>
        <app-button-simple [text]="'COOPERATIVA'"></app-button-simple>
        <span class="material-symbols-outlined icon-profile">
            person
        </span>
    </div>
</div>