.fixed-container {
    display: flex;
    height: 0px;
}

als-header {
    width: 100%;
}

.dynamic-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0 0 var(--menuSize);
    background-color: #e6eef1;
}