.fixed-container {
    display: flex;
    height: 0px;
}

als-header {
    width: 100%;
}

.dynamic-container {
    position: relative;
    margin: 80px 0 0 var(--menuSize);
    background-color: #e6eef1;
    /* height: 80vh; */
}