<div class="timeline">
    <div class="step">
        <div class="circle"></div>
        <span>Início</span>
    </div>
    <div class="line"></div>
    <div class="disable-step">
        <div class="circle"></div>
        <span>Documentos</span>
    </div>
    <div class="line"></div>
    <div class="disable-step">
        <div class="circle"></div>
        <span>Dados Cadastrais</span>
    </div>
    <div class="line"></div>
    <div class="disable-step">
        <div class="circle"></div>
        <span>Admissão</span>
    </div>
</div>