@font-face {
    font-family: 'Exo2Bold';
    src: url('assets/fonts/Exo2-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('assets/fonts/OpenSans-Regular.ttf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
}