<div class="validate-cpf-container">
    <p class="title">Informe o CPF do futuro cooperado(a)</p>
    <p class="subtitle">Se necessário, você pdoerá duplicar uma conta existente ou pausar e retornar este cadastro futuramente.
        <br>Digite apenas os números (sem pontos ou traços).
    </p>

    <form [formGroup]="form">
        <label for="cpf">CPF</label>
        <div class="input-row">
            <div class="input-section">
                <input type="text" [class]="!validCpf ? 'required-input' : ''"
                    formControlName="cpf" placeholder="000.000.000-00" mask="000.000.000-00">
                <small class="erroDeValidacao" *ngIf="!validCpf">
                    CPF inválido
                </small>
            </div>
            <als-primary-button text="Consultar por CPF" (clicked)="clicked()" [disabled]="person.id > 0"></als-primary-button>
        </div>
    </form>
</div>

<als-information *ngIf="person.id > 0" [person]="person"></als-information>