<div class="validate-cpf-container">
    <form [formGroup]="form">
        <label for="cpf">CPF</label>
        <div class="input-row">
            <div class="input-section">
                <input type="text" [class]="!validCpf ? 'required-input' : ''"
                    formControlName="cpf" placeholder="000.000.000-00" mask="000.000.000-00">
                <small class="erroDeValidacao" *ngIf="!validCpf">
                    CPF inválido
                </small>
            </div>
            <als-primary-button text="Consultar por CPF" (clicked)="clicked()"></als-primary-button>
        </div>
    </form>
</div>